*{
    margin: 0;
    padding: 0;
}
nav{
    position: sticky;
}
ul{
    padding: 10px;
    background-color:#ffb162;
    color: white;
    display: flex;
    align-items: center;

    
}
li{
   cursor: pointer;
   
    display: flex;
    
}
ul li{
    padding: 10px;
    margin: 0 50px;
}
.brand img{
    
    height: 50px;
    padding: 0 10px;

}
.brand{
    
    display: flex;
    align-items: center;
    font-weight: bolder;
    padding: 0 20px;
    font-size: 30px;
}
.userpic{
    margin-left: 50%;
    height: 30px;
    display: flex;

    text-align: center;
}
.cover
{
    width: 100%;
}
.order
{
    text-align: center;
}
.cartsec
{
    display: flex;
}